<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Duoc<span id="uc-span">UC </span> <span id="register-span">RegisterApp</span></strong>
  </div>
  <div id="botones">
    <ion-button color="warning" href="iniciarsesion">Iniciar Sesión </ion-button>
    <ion-button color="danger" href="registro">Registrarse</ion-button>
  </div>
</ion-content>
